<a href="https://colab.research.google.com/github/lakhanpal185/machin-learning-with-python/blob/main/logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [ ]:
actual = [1,0,0,1,0,0,1,0,0,1]
predicted = [1,0,0,1,0,0,0,1,0,0]

In [ ]:
''' actual(ture /false), predicted(positive/nagative)''' 
matrix = confusion_matrix(actual,predicted,labels= [1,0])
print(f"confusion matric : ")
matrix

confusion matric :

array([[2, 2],
       [1, 5]])

In [ ]:
confusion_matrix(actual,predicted,labels=[0,1]).reshape(-1)

array([5, 1, 2, 2])

In [ ]:
tp,fn,fp,tn = confusion_matrix(actual,predicted,labels=[0,1]).reshape(-1)
print("accuaracy : ",(tp+fp)/(tp+fn+tn+fp))

accuaracy :  0.7

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report

In [ ]:
col_names = ['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']
pima = pd.read_csv("/content/drive/MyDrive/pima-indians-diabetes.csv",header=None, names = col_names)
pima.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

discriptive state
data preprocessing
 null value
 standardize data - scaling
correlation  pairplot
distribution
  boxplot
  groping

In [ ]:
pima.shape

(769, 9)

In [ ]:
pima.drop(pima.head(1).index,inplace = True)
pima

    pregnant glucose  bp skin insulin   bmi pedigree age label
1          6     148  72   35       0  33.6    0.627  50     1
2          1      85  66   29       0  26.6    0.351  31     0
3          8     183  64    0       0  23.3    0.672  32     1
4          1      89  66   23      94  28.1    0.167  21     0
5          0     137  40   35     168  43.1    2.288  33     1
..       ...     ...  ..  ...     ...   ...      ...  ..   ...
764       10     101  76   48     180  32.9    0.171  63     0
765        2     122  70   27       0  36.8     0.34  27     0
766        5     121  72   23     112  26.2    0.245  30     0
767        1     126  60    0       0  30.1    0.349  47     1
768        1      93  70   31       0  30.4    0.315  23     0

[768 rows x 9 columns]

In [ ]:
feature_col = ['pregnant','insulin','bmi','age','glucose','bp','pedigree']

x = pima[feature_col]
y = pima.label
pima.dropna(inplace = True)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state = 0)
print(x_train)
print(y_train.shape)

    pregnant insulin   bmi age glucose  bp pedigree
604        7     126  35.2  54     150  78    0.692
119        4       0  28.2  22      97  60    0.443
248        0     680  52.3  23     165  90    0.427
158        1     135  25.2  23     109  56    0.833
469        8       0    30  38     120   0    0.183
..       ...     ...   ...  ..     ...  ..      ...
764       10     180  32.9  63     101  76    0.171
193        7       0  30.4  36     159  66    0.383
630        4       0  24.7  21      94  65    0.148
560       11       0  30.1  35      85  74      0.3
685        5       0     0  69     136  82     0.64

[614 rows x 7 columns]
(614,)

In [ ]:

log_reg =LogisticRegression()
mol =log_reg.fit(x_train,y_train)
prd =mol.predict(x_test)
print(prd)

['1' '0' '0' '1' '0' '0' '1' '1' '0' '0' '1' '1' '0' '0' '0' '0' '1' '0'
 '0' '0' '1' '0' '0' '0' '0' '0' '0' '1' '0' '0' '0' '0' '0' '0' '0' '1'
 '0' '0' '0' '1' '0' '0' '0' '1' '1' '0' '0' '0' '0' '0' '0' '0' '1' '0'
 '0' '0' '0' '1' '0' '0' '1' '0' '0' '1' '1' '1' '1' '0' '0' '0' '0' '0'
 '0' '1' '1' '0' '0' '1' '0' '0' '0' '0' '0' '0' '0' '0' '0' '0' '1' '0'
 '0' '0' '0' '0' '1' '0' '0' '1' '1' '0' '0' '0' '0' '0' '1' '0' '0' '0'
 '0' '1' '0' '0' '1' '0' '1' '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '0'
 '0' '0' '1' '0' '0' '0' '0' '1' '0' '0' '0' '0' '1' '0' '0' '1' '0' '0'
 '0' '0' '0' '0' '0' '0' '0' '1' '0' '0']

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
print(f'accuracy : {accuracy_score(y_test,prd)}')

accuracy : 0.8181818181818182

In [ ]:
#classification retport
print(classification_report(y_test,prd))

              precision    recall  f1-score   support

           0       0.84      0.91      0.87       107
           1       0.74      0.62      0.67        47

    accuracy                           0.82       154
   macro avg       0.79      0.76      0.77       154
weighted avg       0.81      0.82      0.81       154

In [ ]:
y_test = 1 <= y_test

TypeError: ignored