<a href="https://colab.research.google.com/github/lakhanpal185/machin-learning-with-python/blob/main/questions%2Blist_withfun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
X = int (input('Enter the x value : '))
Y = int (input('Enter the y value : '))
print(ascii(65))
print(ord('a'))
print(Y,X)

Enter the x value : 1
Enter the y value : 2
65
97
2 1

In [ ]:
# here a am going to write the convert program to convert cm to meter/kilometer/ micro meter , lbs to kg/grames ,
def convert_dis():
    flag = input('\ncommand to convert \nmeter(mtr) \nkilometer(km)\nmicro meter(mm)\n\n>>>')
    dis= int (input('Enter the distance in centimiter : '))

    if flag == 'mtr':
      print(f'the meter value of {dis} is {dis/100}')
    elif flag == 'km':
      print(f'the kilometer value of {dis} is {dis/100000}')
    elif flag == 'mm':
      print(f"the micro meter value  of {dis} is  {dis*10000}")
    else:
        print(" wrong input ")

def convert_weight():
      flag = input("\nEnter the command to convert kg(kg) and grams(grm)\n\n>> ")
      weight = int (input('Enter the weight in lbs : '))

      if flag == 'kg':
          print(f'kilograms are : {weight*0.45}')
      elif flag == 'grm':
          print(f' grams value is : {weight*45*10}')
      else:
          print(" wrong input ")

flag = ''
while( flag != 'quit' ):
    flag = (input("\nenter 1 for distance conversion and enter 0 for the  weight conversion : "))
    if flag == '1': 
        convert_dis()
    elif flag == '0':
        convert_weight()

enter 1 for distance conversion and enter 0 for the  weight conversion : 1

command to\ convert
meter(mtr)
kilometer(km)
micro meter(mm)

>>>mm
Enter the distance in centimiter : 78000
the micro meter value  of 78000 is  780000000

enter 1 for distance conversion and enter 0 for the  weight conversion : quit

In [ ]:
import math
print(f'pariphari circle of r = 4 : {math.pi*2*4}')
print(f'area rectange with a = 4 , b= 7: {4*7}')
print(f'volume of cylander r = 4, h = 3 : {math.pi * 4**2 * 3}')
print(f'volue of cone r = 4 : {math.pi*2*4}')
print(f'area of squar a = 4 : {4*4}')
print(f'volume of cube width = 4,length=5,height=7 : {3 * 5 * 7}')
print(f'outer are of above cube : {2*3*5+2*3*7+2*5*7}')
print(f'area of cylander r = 4,h = 7 : {2*math.pi*4*7}')

pariphari of r = 4 : 25.132741228718345
area rectange with a = 4 , b= 7: 28
volume of cylander r = 4, h = 3 : 150.79644737231007
volue of cone r = 4 : 25.132741228718345
area of squar a = 4 : 16
volume of cube width = 4,length=5,height=7 : 105
outer are of above cube : 142
area of cylander r = 4,h = 7 : 175.92918860102841

In [ ]:
list_user = [1,2,3,4,5] 
#            0 1 2 3 4
#            0-4-3-2-1
print(list_user)
print(type(list_user))
print(list_user[:])
print(len(list_user))
print(list_user[0:])
print(list_user[3:-1])
print(list_user[-1::-3])
print(list_user[0:5:3])
print(list_user[0:5:3])
b = 1 in list_user
print(b)

[1, 2, 3, 4, 5]
<class 'list'>
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5]
[4]
[5, 2]
[1, 4]
[1, 4]
True

In [ ]:
#if statement 
#age < 8 -- kids
#age >= 8 and < 12  -- boy or middle age
# age >= 12 and < 25 -- youth age
# age >= 25  and < 60 -- familyman
# age > = 60 old man

def person_blongs(age):

    if age < 8 :
        print("\nhi/she is a kid ")
    elif age >= 8 and age < 12:
        print("hi/she is a middle age person!")
    elif age >= 12 and age < 25:
        print("hi/she is a youth age person!")
    elif age >= 25 and age < 60:
        print("hi/she is a family age person!")
    else :
        print("hi/she is a old age person!")

name = input("enter the person name : ")
age = int(input(f'\nenter the age of {name} : '))
person_blongs(age)

enter the person name : shashi k. raja

enter the age of shashi k. raja : 30
hi/she is a family age person!

In [ ]:
## here i am  going to use the pattern using the loops in python
n = int(input("Enter the number of row's : "))
for i in range(n):
     print("*"*i)

Enter the number of row's : 3

*
**

In [ ]:
#list methods

def max_Element(li):
    max_value = li[0]
    for item in li:
        if item > max_value:
            max_value= item 
    return max_value


list_temp = [1,2,3,4,5,6,34,656,23,]

print(len(list_temp))
print(list_temp)
# find the max /max()
max_element= max_Element(list_temp)
print(max_element)
print(list_temp.pop())
print(list_temp.pop(0)) # 0 is anindex value
list_temp.insert(1,0) #insert 0 at the 0th index
print(list_temp)
print(list_temp.index(656))
print(list_temp.count(5))
list_temp.remove(656)
print(list_temp)
list_temp.sort()
print(list_temp)
list_temp.reverse()
print(list_temp)

9
[1, 2, 3, 4, 5, 6, 34, 656, 23]
656
23
1
[2, 0, 3, 4, 5, 6, 34, 656]
7
1
[2, 0, 3, 4, 5, 6, 34]
[0, 2, 3, 4, 5, 6, 34]
[34, 6, 5, 4, 3, 2, 0]