<a href="https://colab.research.google.com/github/lakhanpal185/machin-learning-with-python/blob/main/str.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = [1,2,4,5,8]
list1 = [2,3,5]

name.insert(2,'hi')
print(name)
name.extend(list1)
print(name)
name.pop()
print(name)
name.remove(2)
print(name)

[1, 2, 'hi', 4, 5, 8]
[1, 2, 'hi', 4, 5, 8, 2, 3, 5]
[1, 2, 'hi', 4, 5, 8, 2, 3]
[1, 'hi', 4, 5, 8, 2, 3]

In [ ]:
num = int (input("Enter income : "))
if  num >= 25000 :
    da = 10 * num/100
elif num < 25000:
     da = 5 * num/100

print(f"the grass value : {da + num}")

Enter income : 25001
the grass value : 27501.1

In [ ]:
list1 = []
odd_values = []
even_values = []

print("value : ")
for i in range(10):
    list1.append(i)
for item in list1:
    if item%2 == 1:
        odd_values.append(item)
    else :
        even_values.append(item)
print(list1)
print(f" the odd value are : {odd_values}")
print(f" the even value are : {even_values}")

value :
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
 the odd value are : [1, 3, 5, 7, 9]
 the even value are : [0, 2, 4, 6, 8]

In [ ]:
try: 
   age  = int (input("Enter the age of student : "))
   if age > 18 and age < 25: 
       print("ELIGIBLE FOR GRADE 1")
   elif age >= 25 and age <=30 :
       print("ELIGIBLE FOR GRADE 2")
   else:
       print("NOT ELIGIBLE ")
except ValueError:
    print("not valid input")

Enter the age of student : 45
NOT ELIGIBLE

In [ ]:
for i in range(0,100,10):
    print(i,end =' ')
    for i in range(100,20,-20):
      print(i , end = ' ')

0 100 80 60 40 10 100 80 60 40 20 100 80 60 40 30 100 80 60 40 40 100 80 60 40 50 100 80 60 40 60 100 80 60 40 70 100 80 60 40 80 100 80 60 40 90 100 80 60 40

In [ ]:
for i in range(19,191,19):
    print(i,end = ' ')
code_value = [10,11,30,40,50,29,34]
for item in range(len(code_value)):
    print(item,end=' ')

19 38 57 76 95 114 133 152 171 190 0 1 2 3 4 5 6

In [ ]:
i = 0
while 1:
    if i > 5:
        break
    print('*'*i)
    i += 1

*
**
***
****
*****

In [ ]:
N = int(input("Enter the value of rows : "))

for i  in  range(N):
    for j  in range(1,i+1):
        print(j,end= ' ')
    print("\n")

Enter the value of rows : 7


1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

In [ ]:
N = int(input("Enter the value of rows : "))

for i  in  range(N):
    for j  in range(1,i+1):
        print(chr(64+j),end= ' ')
    print("\n")

Enter the value of rows : 3


A

A B

In [ ]:
N = int(input("Enter the value of rows : "))

for i  in  range(N):
    for j  in range(1,i+1):
        print(chr(96+j),end= ' ')
    print("\n")

a

a b

a b c

a b c d

a b c d e

a b c d e f

In [ ]:
N = int(input("Enter the value of rows : "))

for i  in  range(N):
    print("**"*i)
    for j  in range(1,i+1):
        print(chr(96+j),end= ' ')
    print("\n")